# Core application dependencies
flask==3.0.2
flask-cors==4.0.0
gunicorn==21.2.0
requests==2.31.0
botocore
fabman
canvasapi
python-dotenv
requests-aws-sign
typing_extensions
urllib3>=1.26.5,<2.0
charset_normalizer